<meta charset="UTF-8">
<body bgcolor="#c8e6c9">
<center>
<br>
<h2>
    हम आपके बीजों को ऑनलाइन सत्यापित करते हैं
 </h2>
<center>
<br>
<center>
<img src="https://us.123rf.com/450wm/arcady31/arcady311611/arcady31161100012/66777968-stock-vector-green-tick-mark-icon.jpg?ver=6" width="300px" height="300px" />
<h2> आपका बीज सत्यापित है <br> <br>
    धन्यवाद </h2>
    <a href="/verified" >Tamil</a>
</center>
</body>
