<meta charset="UTF-8">
<body bgcolor="#c8e6c9">
<center>
<br>
<h2>
நாங்கள் உங்கள் விதைகளை ஆன்லைன் மூலம் அங்கீகரித்து உங்களுக்கு உதவுகிறோம் 
 </h2>
<center>
<br>
<center>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-lRWL5UBBmOjUU4dB_8MhSLHoOiB1uMZ4qQ&usqp=CAU" width="300px" height="300px" />
<h2> உங்கள் விதை அங்கீகரிக்கப்படவில்லை <br> <br>

நன்றி </h2>
</center>
</body>